   <footer class="footer">
      <div class="footer__top">
        <a href="#" class="footer__logo">
          <img src="images/logo/logo2.svg" alt="logo">
        </a>
        <ul class="footer__menu">
          <li class="footer__menu-list">
            <a href="#" class="footer__menu-link">HOME</a>
          </li>
          <li class="footer__menu-list">
            <a href="#about" class="footer__menu-link">ABOUT US</a>
          </li>
          <li class="footer__menu-list">
            <a href="#portfolio" class="footer__menu-link">PORTFOLIO</a>
          </li>
          <li class="footer__menu-list">
            <a href="#team" class="footer__menu-link">OUR TEAM</a>
          </li>
          <li class="footer__menu-list">
            <a href="#blog" class="footer__menu-link">BLOG</a>
          </li>
          <li class="footer__menu-list">
            <a href="#contact" class="footer__menu-link">CONTACT</a>
          </li>
        </ul>
        <div class="footer__contact">
          <adress class="adress">
          UKRAINE, KYIV 03037, Lobanovskyi Ave, 4-B
          </adress>
          <a class="phone" href="tel:+380951013036">(38095) 101 30 36</a>
          <a class="email" href="mailto:marketingmaster@mail.com">marketingmaster@mail.com</a>
        </div> 
        <a class="go-top" href="#home">
          <img src="images/footer/arrow-up.svg" alt="arrow">
        </a>
      </div>
      <div class="footer__copy">
        <p>@2023 Marketing AGENCY</p>
      </div>
    </footer>
   
   

   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="js/mixitup.min.js"></script>
    <script src="js/slick.min.js"></script>
    <script src="js/jquery.fancybox.min.js"></script>
    <script src="js/main.min.js"></script>
    <!-- <script src="js/main.js"></script> -->
    
</body>
</html>