<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marketing Gulp</title>
    <link rel="stylesheet" href="css/jquery.fancybox.min.css" />
    <link rel="stylesheet" href="css/slick.css" />
    <link rel="stylesheet" href="css/style.min.css">
</head>
<body>
  <!-- 123456 Работаем с этим html -->
  <!-- <header class="header">
      <div class="container">
         <div class="header__inner">
            <a href="#" class="header__logo logo">
               <img src="images/logo.svg" alt="">
            </a>
            <button class="header__btn btn">Order a consultation</button>
            <button class="header__menu">
               <img src="images/btn-menu.svg" alt="">
            </button>
         </div>
      </div>
   </header> -->
    <header class="header">
      <div class="header__top">
        <div class="container">
          <div class="header__top-inner">
            <a href="./index.html" class="logo">
              <img
                class="logo__img"
                src="images/logo/logo2.svg"
                alt="logo marketing agency"/>
            </a>
            <nav class="menu">
              <button class="menu__btn">
               <svg width="30" hight="18" viewBox="0 0 30 18"
                  fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M0 0H30V2H0V0Z" fill="black"/>
                  <path d="M0 8H30V10H0V8Z" fill="black"/>
                  <rect y="16" width="30" height="2" fill="black"/>
               </svg>
              </button>
              <ul class="menu__list">
                <li class="menu__list-item">
                  <a href="#home" class="menu__list-link">HOME</a>
                </li>
                <li class="menu__list-item">
                  <a href="#about" class="menu__list-link">ABOUT US</a>
                </li>
                <li class="menu__list-item">
                  <a href="#portfolio" class="menu__list-link">PORTFOLIO</a>
                </li>
                <li class="menu__list-item">
                  <a href="#team" class="menu__list-link">OUR TEAM</a>
                </li>
                <li class="menu__list-item">
                  <a href="#blog" class="menu__list-link">BLOG</a>
                </li>
                <li class="menu__list-item">
                  <a href="#contact" class="menu__list-link">CONTACT</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </header>